<form class="container">
    <div class="form-group">
        <label>Provincia</label>
        <select class="form-control" ng-change="getCantones(selectedProvincia)"
                ng-model="selectedProvincia"
                ng-options="c._id as c.name for c in provincesList"></select>
    </div>
    <div class="form-group">
        <label>Canton</label>
        <select class="form-control" ng-disabled="selectedProvincia===null?true:false"
                ng-change="getParroquias(selectedCanton)" ng-model="selectedCanton"
                ng-options="c._id as c.name for c in cantonesByProvinceList"></select>
    </div>
    <div class="form-group">
        <label>Parroquia</label>
        <select class="form-control" ng-disabled="selectedCanton===null?true:false"
                ng-change="getZonas(selectedParroquia)" ng-model="selectedParroquia"
                ng-options="c._id as c.name for c in parroquiasByCantonList"></select>
    </div>
    <div class="form-group">
        <label>Zona</label>
        <select class="form-control" ng-disabled="selectedParroquia===null?true:false"
                ng-change="getRecintos(selectedZona)" ng-model="selectedZona"
                ng-options="c._id as c.name for c in zonasByParroquiaList"></select>
    </div>
    <div class="form-group">
        <label>Recinto</label>
        <select class="form-control" ng-disabled="selectedZona===null?true:false"
                ng-change="getGeneros(selectedRecinto!=null?true:false)" ng-model="selectedRecinto"
                ng-options="c._id as c.name for c in recintosByZona"></select>
    </div>
    <div class="form-group">
        <label>Genero</label>
        <select class="form-control" ng-disabled="selectedRecinto===null?true:false" ng-model="selectedGenero"
                ng-change="getJuntas(selectedRecinto,selectedGenero)"
                ng-options="c.code as c.value for c in generoList"></select>
    </div>
    <div class="form-group">
        <label>Junta</label>
        <select class="form-control" ng-disabled="selectedGenero===null?true:false"
                ng-model="selectedJunta"
                ng-options="c._id as c.NUM_JUNTA for c in juntasList"></select>
    </div>

    <div class="form-group">
        <div class="pull-right">
            <button ng-disabled="selectedJunta===null?true:false" ng-click="ctrl.showModal()"
                    class="btn btn-primary">Registrar Votos
            </button>
        </div>
    </div>

</form>
