<div class="brand">

    <!-- logo -->
    <div class="brand-logo">
        SCEL
    </div>
    <!-- /logo -->

    <!-- toggle small sidebar menu -->
    <a href="javascript:;" class="toggle-sidebar hidden-xs hamburger-icon v3"
       data-ng-click="app.layout.isSmallSidebar = !app.layout.isSmallSidebar">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </a>
    <!-- /toggle small sidebar menu -->
</div>
<!-- main navigation -->
<nav role="navigation" side-navigation>

    <ul class="nav">

        <!-- dashboard -->
        <li ui-sref-active="active">
            <a ui-sref="home">
                <i class="fa fa-home"></i>
                <span translate="global.menu.home">Home</span>
            </a>
        </li>
        <!-- /dashboard -->

        <!-- ui -->
        <li data-ng-class="{open: $state.includes('app.ui')}">
            <a href="javascript:;">
                <i class="fa fa-toggle-on"></i>
                <span>Registro de votos</span>
            </a>
            <ul class="sub-menu">
                <li ui-sref-active="active">
                    <a ui-sref="app.registro">
                        <span>Registro Votos</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- /ui -->

        <!-- tables -->
        <li data-ng-class="{open: $state.includes('app.resultados')}">
            <a href="#/resultados">
                <i class="fa fa-tag"></i>
                <span>Resultados</span>
            </a>
        </li>
        <!-- /tables -->

        <!-- charts -->
        <li data-ng-class="{open: $state.includes('app.charts')}">
            <a href="javascript:;">
                <i class="fa fa-pie-chart"></i>
                <span>Reportes</span>
            </a>
            <ul class="sub-menu">
                <li ui-sref-active="active">
                    <a ui-sref="app.charts-flot">
                        <span>Flot Charts</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.charts.easypie">
                        <span>EasyPie</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.charts.chartjs">
                        <span>ChartJs</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.charts.rickshaw">
                        <span>Rickshaw</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.charts.nvd3">
                        <span>Nvd3</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.charts.c3">
                        <span>C3js</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- /charts -->
        <!--admin-->

        <li data-ng-class="{open: $state.includes('app.charts')}">
            <a href="javascript:;">
                <i class="fa fa-asterisk"></i>
                <span translate="global.menu.entity">Entities</span>
            </a>
            <ul class="sub-menu">
                <li ui-sref-active="active">
                    <a ui-sref="app.provincia">
                        <span>Provincias</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.canton">
                        <span>Cantones</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.parroquia">
                        <span>Parroquias</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.zona">
                        <span>Zonas</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.recinto">
                        <span>Recintos</span>
                    </a>
                </li>                
            </ul>
        </li>
        <!--/admin-->
          <li data-ng-class="{open: $state.includes('app.charts')}">
            <a href="javascript:;">
                <i class="fa fa-folder-open-o"></i>
                <span translate="global.menu.admin">Adminstracion</span>
            </a>
            <ul class="sub-menu">
                <li ui-sref-active="active">
                    <a ui-sref="app.role">
                        <span translate="global.menu.role">Roles</span>
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="app.menu">
                        <span translate="global.menu.menu">Menus</span>
                    </a>
                </li>  
                <li ui-sref-active="active">
                    <a ui-sref="app.canton">
                        <span translate="global.menu.rolemenu">RoleMenus</span>
                    </a>
                </li>  
                 <li ui-sref-active="active">
                    <a ui-sref="app.user">
                        <span translate="global.menu.user">Users</span>
                    </a>
                </li>                                   
            </ul>
        </li>

</nav>
<!-- /main navigation -->